.button {
    justify-content: center;
    border: 1px solid #2f2f2f;
    font-size: 16px;
    border-radius: 100px;
    padding: 13px 24px;
    font-weight: 400;
    display: inline-flex;
    text-decoration: none;
    transition: color .3s, background-color .3s, border-color .3s;
    cursor: pointer;
    text-align: center;
}

.button--primary {
    background-color: #FFFFFF;
    color: #2F2F2F;
}

.button--primary:hover {
    background-color: #e8e8e8;
    color: #000000;
}

.button--secondary {
    background-color: #2F2F2F;
    border-color: #2F2F2F;
    color: #FFFFFF;
}

.button--secondary:hover {
    background-color: #545454;
    border-color: #2F2F2F;
    color: #ffffff;
}
