.steps-block__content-badge {
    margin-bottom: 24px;
}

.steps-block__content-title {
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 86px;
}

.step-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 376px;
    padding: 32px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.step-card-number {
    font-weight: 500;
    color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 64px;
    width: 64px;
    height: 64px;
    font-size: 24px;
    background-color: #fff;
    margin-bottom: 32px;
}

.step-card-title {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.step-card-desc {
    color: rgba(255, 255, 255, 0.8);
    /*max-width: 285px;*/
}