.home-page__section-tour-types {
    margin-bottom: 170px;
}

.home-page__hero-block {
    margin-bottom: 240px;
}

.home-page__section {
    background-color: #2f2f2f;
    padding-top: 240px;
    padding-bottom: 240px;
    margin-bottom: 240px;
}