
@import "../base/fonts.css";
@import "../base/index.css";
@import "../base/reset.css";
@import "../components/header.css";
@import "../components/button.css";


body {
    height: 100%;
}

body {
    font-family: 'Satoshi', sans-serif, Arial;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 1374px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    flex-shrink: 0;
}

.main {
    flex-shrink: 0;
    flex-grow: 1;
}

.main .text--grey {
    color: #2F2F2F;
}

.main .text--grey-opacity {
    color: rgba(47, 47, 47, 0.8);
}

.footer {
    flex-shrink: 0;
}

a {
    color: #2f2f2f;
    text-decoration: none;
}

a:active {
    color: #2f2f2f;
}

p {
    line-height: 1.4;
}

.h1 {
    font-size: 168px;
}

.h1--white {
    color: #FFFFFF;
}

.h2 {
    font-size: 80px;
}

.h2--white {
    color: #FFFFFF;
}

.h3 {
    font-size: 40px;
}

.h3--white {
    color: #FFFFFF;
}

.h4 {
    font-size: 32px;
}

.h4--white {
    color: #FFFFFF;
}